<div class="post">
    <h1 class="title"><a href="#"><?php print $this->title; ?></a></h1>
    <p class="meta">Objavljavio <a href="#"><?php print $this->escape( $this->username ); ?></a> <?php print $this->datum; ?> 
        &nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
    <div class="entry">
        <p><?php print $this->content; ?></p>
    </div>
</div>