<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<?php echo $this->headTitle(); ?>
<?php echo $this->headLink(); ?>
<?php echo $this->headScript(); ?>
</head>
<body>
<div id="wrapper">
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="<?php echo $this->url(array("controller" => "Index", "action" => "index"), null, true, false); ?>">Home</a></li>
			<li><a href="<?php echo $this->url(array("controller" => "Post", "action" => "index"), null, true, false); ?>">Blog</a></li>
			<li><a href="<?php echo $this->url(array("controller" => "Galerija", "action" => "index"), null, true, false); ?>">Photos</a></li>
			<li><a href="<?php echo $this->url(array("controller" => "Formular", "action" => "index"), null, true, false); ?>">Formular</a></li>
			<li><a href="<?php echo $this->url(array("controller" => "Logovanje", "action" => "index"), null, true, false); ?>">Login</a></li>
			<li><a href="<?php echo $this->url(array("controller" => "Administracija", "action" => "index"), null, true, false); ?>">Admin</a></li>
                     
                        <?php if($this->layout()->logout) { ?>
                            <li><a href="<?php echo $this->url(array("controller" => "Logovanje", "action" => "Logout"), null, true, false); ?>">Logout</a></li>
                        <?php } else { ?>
                            <li><a href="<?php echo $this->url(array("controller" => "Formular", "action" => "index"), null, true, false); ?>">Login</a></li>
                        <?php } ?>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="header">
		<div id="logo">
			<h1><a href="#">Diminishing</a></h1>
		</div>
		<div id="search">
			<form method="get" action="">
				<fieldset>
					<input type="text" name="s" id="search-text" size="15" value="enter keywords here..." />
					<input type="submit" id="search-submit" value="GO" />
				</fieldset>
			</form>
		</div>
	</div>
	<div id="splash">&nbsp;</div>
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
                                    <div class="message">
                                        <?php $this->layout()->message; ?>
                                    </div>
                                    <?php echo $this->layout()->test; ?>
                                    <?php echo $this->layout()->content; ?>
					
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<?php echo $this->placeholder("sidebar"); ?>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer-wrapper">
	<div id="three-columns">
		<div id="column1">
			<h2>Consectetuer</h2>
			<ul>
				<li><a href="#">Aliquam libero</a></li>
				<li><a href="#">Consectetuer adipiscing elit</a></li>
				<li><a href="#">Metus aliquam pellentesque</a></li>
				<li><a href="#">Suspendisse iaculis mauris</a></li>
				<li><a href="#">Urnanet non molestie semper</a></li>
				<li><a href="#">Proin gravida orci porttitor</a></li>
			</ul>
		</div>
		<div id="column2">
			<h2>Suspendisse</h2>
			<ul>
				<li><a href="#">Aliquam libero</a></li>
				<li><a href="#">Consectetuer adipiscing elit</a></li>
				<li><a href="#">Metus aliquam pellentesque</a></li>
				<li><a href="#">Suspendisse iaculis mauris</a></li>
				<li><a href="#">Urnanet non molestie semper</a></li>
				<li><a href="#">Proin gravida orci porttitor</a></li>
			</ul>
		</div>
		<div id="column3">
			<h2>Pellentesque</h2>
			<ul>
				<li><a href="#">Aliquam libero</a></li>
				<li><a href="#">Consectetuer adipiscing elit</a></li>
				<li><a href="#">Metus aliquam pellentesque</a></li>
				<li><a href="#">Suspendisse iaculis mauris</a></li>
				<li><a href="#">Urnanet non molestie semper</a></li>
				<li><a href="#">Proin gravida orci porttitor</a></li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<p>Copyright (c) 2011 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
	</div>
	<!-- end #footer -->
</div>
</body>
</html>